.containerhabilidades{
    background-color: rgb(148, 95, 31); 
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 40px;
    border: 7px solid rgba(119, 56, 56, 0.299); /* es */
}
.containerhabilidades h2{
    text-align: center;
    align-items: center;
    margin: 10px;
}
.habilidades {
    display: grid;
    grid-template-columns: 400px 2fr 2fr;
    grid-template-rows: 150px auto;
    grid-gap: 20px;
    border-radius: 10px;
    background-color: rgb(172, 169, 153);
    padding: 5px;
    margin: 20px;
}
.habilidadesdiv {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    background-color: rgb(158, 193, 53) ;
    
}
