.none {
        display: flex;             
        justify-content: flex-end; 
        align-items: center;
        list-style: none;          
        gap: 10px;                 
        padding: 10px; 
        margin: 0px;
        border-radius: 20px;
        background-color: darkgray; 
}
.none li:first-child {
    margin-right: auto;
}
.por {  display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        font-size: 0.9rem;
        font-weight:bold;
        box-shadow: 2px 2px 5px (#fad9a6);
        height: 2vmax;
        padding: 0 1vmax; 
        background-color: #fad9a6;
}
.por:hover {
        transform: scale(1.05);  
        outline: 1px solid rgb(222, 33, 33); 
}
