#imagenuno {
    cursor: pointer;
    transition: transform 0.3s ease, outline 0.2s ease;
    border-radius: 10%;
    flex-shrink: 0;
}
#imagenuno:hover {
        transform: scale(1.05);        
        outline: 1px solid rgb(0,0,0); 
}

.mascotas { cursor: pointer;
            transition: transform 0.3s ease, outline 0.2s ease;
            border-radius: 10%;
            flex-shrink: 0;
}
.mascotas:hover{
                   transform: scale(1.05);        
                   outline: 1px solid rgb(0,0,0); 
}
