#sobremi {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background-color: #FFFFFF;
    padding: 19px;
    margin: 40px;
    gap: 50px;
    border: 7px solid #E8E4DC;
    flex-wrap: wrap;    
}
#sobremi p {
    max-width: 300px;
    text-align: left;
    color: #1C1C2E;
    flex: 1;
    min-width: 200px;
}