.nono { display: flex;             
        justify-content: flex-end; 
        list-style: none;          
        color: #fad9a6; 
        border-radius: 20px;
        font-size: 0.9rem;
        font-weight:bold;
        box-shadow: 2px 2px 5px (#fad9a6);
        height: 2vmax;
        padding: 0 1vmax;     
}
.nono li:first-child {
    margin-right: auto;
}
#mismascotas { display: flex;
     justify-content: first baseline;
}
#cloe { display: flex;
        justify-content: end;
}
.mascotas { cursor: pointer;
            transition: transform 0.3s ease, outline 0.2s ease;
            border-radius: 10%;
            flex-shrink: 0;
            box-shadow: 4px 4px 10px rgba(0,0,0,1);
}
.mascotas:hover{ 
                   transform: scale(1.05);       
                   outline: 1px solid rgb(0,0,0); 
}
